::highlight(dual-doc-list-search-result-mark) {
    background-color: var(--b3-protyle-inline-mark-background);
    color: var(--b3-protyle-inline-mark-color);
}

::highlight(dual-doc-list-search-result-focus) {
    background-color: var(--b3-theme-primary-lighter);
    color: var(--b3-protyle-inline-mark-color);
}



.misuzu2027__doc-list .box-path__icon {
    position: relative;
    // cursor: pointer;
    overflow: hidden;

    // text-align: center;
    // font-size: 16px;
    font-family: var(--b3-font-family-emoji);
    margin-right: 4px;
    // line-height: 22px;
    transition: var(--b3-transition);
    // height: 22px;
    // padding: 0 4px;
    // flex-shrink: 0;
    border-radius: var(--b3-border-radius);
}

.misuzu2027__doc-list .box-path__icon img,
.misuzu2027__doc-list .box-path__icon svg {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    // height: auto;
    -ms-interpolation-mode: bicubic;
    overflow: hidden;
    float: left;
    margin: 3px 0;
    height: 17px;
    width: 17px;
    color: var(--b3-theme-on-surface);
    border-radius: var(--b3-border-radius);

}

.misuzu2027__doc-list .scroll-container span {
    font-size: 88%;
}


.misuzu2027__doc-list .doc-path {
    /* 默认不显示下划线 */
    text-decoration: none;
    /* 设置鼠标指针为手型 */
    cursor: pointer;
}

.misuzu2027__doc-list .doc-path:hover {
    /* 悬浮时显示下划线 */
    text-decoration: underline;
}

.drag-handle {
    width: 7px;
    margin: 0 -2px 0 0;
    height: auto;
    background-color: gray;
    cursor: col-resize;
    opacity: 0;
    /* 初始隐藏 */
    transition: opacity 0.1s ease;
    /* 过渡效果 */
}

/* 当悬浮在 .flex-item 上时显示拖拽条 */
.drag-handle:hover {
    // opacity: 1;

    /* 悬浮时显示 */
}